<div class="container login-panel" style="margin-top: 10px;">
  <div class="login-panel-header">
    <p class="site-name zero-margin">
        欢迎使用硅步博客
    </p>
  </div>
  <form>
    <div class="form-group">
      <input id="loginAlias" type="text" class="form-control bottom-border-only" placeholder="请输入账号"/>
    </div>
    <div class="form-group">
      <input id="password" type="password" class="form-control bottom-border-only" placeholder="请输入密码"/>
    </div>
    <div class="form-group">
      <!-- <a href="#">自动登陆</a> -->
      <a href="#">忘记密码</a>
    </div>
    <div class="btn-group btn-group-justified">
      <div class="btn-group btn-spacing">
        <button type="button" class="btn btn-default">登陆</button>
      </div>
      <div class="btn-group btn-space">
        <button type="button" class="btn btn-default">注册</button>
      </div>
    </div>
  </form>
</div>